@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background-color: #64748b; /* 500 */
  color: #f1f5f9; /* 100 */
  font-size: 24px;
  display: flex;
}

.header {
  background-color: #0f172a; /* 900 */
  position: fixed;
  width: 100%;
  height: 10%;
  padding: 1rem 2rem;
  display: grid;
  align-items: center;
  font-size: 36px;
  font-weight: 800;
  z-index: 1;
  box-shadow: 10px 10px 10px #1e293b;
}

.sidebar {
  background-color: #1e293b; /* 800 */
  position: fixed;
  top: 10%;
  width: 15%;
  height: 85%;
  z-index: 2;
  box-shadow: 10px 10px 10px #1e293b;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li button {
  width: 100%;
  padding: 1.5rem 3rem;
  background-color: #1e293b; /* 800 */
  color: #f1f5f9; /* 100 */
  border: none;
  font-size: 28px;
  font-weight: 800;
  text-align: start;
}

.sidebar ul li button:hover,
.sidebar ul li button:hover:focus,
.add-book:hover,
.add-book:focus,
.close-button:hover,
.close-button:focus {
  background-color: #f1f5f9; /* 100 */
  color: #1e293b; /* 800 */
  cursor: pointer;
}

.main-content {
  position: absolute;
  top: 10%;
  left: 15%;
  width: 85%;
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-template-rows: repeat(auto-fill, 500px);
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.book {
  background-color: #475569; /* 600 */
  height: 500px;
  width: 350px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 10px 10px 10px #1e293b;
}

.book h1 {
  font-size: 32px;
  text-align: center;
}

.book-image {
  width: 150px;
  aspect-ratio: 5.2 / 8;
  background-size: 100%;
}

.read-button {
  background-color: #cbd5e1; /* 300 */
  color: #0f172a; /* 900 */
  align-self: flex-end;
  padding: 0.5rem 1rem;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.footer {
  position: fixed;
  background-color: #0f172a; /* 900 */
  width: 100%;
  height: 5%;
  bottom: 0px;
  display: flex;
  justify-content: end;
}

.add-book {
  background-color: #0f172a; /* 900 */
  color: #f1f5f9; /* 100 */
  border: none;
  font-size: 20px;
  font-weight: 800;
  padding: 0 1rem;
  margin-right: 2rem;
}

dialog {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 520px;
  border: none;
  border-radius: 25px;
  padding: 2rem 2rem 0 2rem;
  background-color: #0f172a; /* 900 */
  color: #f1f5f9; /* 100 */
  box-shadow: 10px 10px 10px #1e293b;
}

/* 
dialog::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
} */

form {
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
}

.input {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

.input input {
  height: 2rem;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 18px;
  background-color: #475569;
  color: #f1f5f9;
}

.read-check input {
  width: 20px;
  height: 20px;
  margin-left: 1rem;
}

.close-button {
  align-self: end;
  padding: 0.5rem 1rem;
  font-size: 24px;
  font-weight: 800;
  border: none;
  border-radius: 15px;
  background-color: #475569;
  color: #f1f5f9;
}
